 #onboarding_container {
    max-width: 100%;
    width: 250px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    backdrop-filter: blur(10px);
    height: 350px;
    border-radius: 20px;
 }
 
 .onboarding_card { 
    animation: fadeInCard 0.5s ease forwards;
    display: none;
    position: relative;
}
 
.onboarding_card.active { 
    display: block;
}
 
@keyframes fadeInCard {
    0% {
        opacity: 0;
        transform: translateY(20px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.onboarding-image { 
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.onboarding-title {
    margin: 0 0 9px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: auto;
    line-height: 1;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.onboarding_card .next-btn {
    width: 30%;
    padding: 12px 0;
    background: #ffff;
    color:  rgb(112, 25, 163);
    border: none;
    border-radius: 22px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom:0;
}
body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient( #41105e, #550597, #6a1983, #6d3c94, #9b6bb6);
    background-size: 400% 400%;
    animation: bgmove 10s ease infinite;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes bgmove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.movement {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 20px;
}

.skip {
    background:rgba(rgb(119, 0, 255, 0.3));
    color: rgb(112, 25, 163);
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, background 0.3s ease;  
}

.next-btn {
    background: #fff;
    color: rgb(112, 25, 163);
}